.servicios{
    background-color: darkcyan;
    text-align: center;
    font-size: 50px;
    padding: 50px 0px 25px 0px;
    color: aquamarine;
    text-shadow: 0 0 15px black;
    margin-bottom: 0px;
}

.servicios-s{
    background-color: rgb(12, 79, 79);
    width: 100%;
    height: auto;
    padding: 40px;

    .caja{
        background-color: rgba(225, 212, 224, 0.843);
        text-align: center;
        color: rgb(12, 79, 79);
        text-shadow: 0 0 5px aqua;
        font-size: 40px;
        border: 2px solid wheat;
        height: 300px;
        padding: 20px;
    }

    .p-s{
        text-align: center;
        font-size: 25px;
        padding: 30px 20% 0px 20%;
        
    }
}