// colores de fondo
$coloresfondo1: blanchedalmond;
$coloresfondo2: cadetblue;
$coloresfondo3: aquamarine;
$coloresfondo4: goldenrod;
$coloresfondo5: teal;
$coloresfondo5: aqua;
$coloresfondo5: darkcyan;
$coloresfondo5: darkseagreen;
$coloresfondo5: palevioletred;
$coloresfondo5: rgb(174, 101, 101);
$coloresfondo5: rgb(22, 88, 108);

// color
$color1:lightsalmon;
$color1:sienna;
$color1:orange;
$color1:darkred;
$color1:darkslateblue;
$color1:darkred;
$color1:aqua;
$color1:aliceblue;
$color1:rgb(168, 134, 141);


// color text shawdow
$colorshawdow1:orange;
$colorshawdow1:aqua;
$colorshawdow1:black;

// color border
$colorborder1:aquamarine;
$colorborder1:orangered;
$colorborder1:aqua;
$colorborder1:wheat;
$colorborder1:rgb(232, 185, 99);
$colorborder1:rgb(110, 101, 19);


// color hover
$colorhover1:goldenrod;
$colorhover1:aquamarine;
$colorhover1:rgb(186, 62, 17);
$colorhover1:darkkhaki;
$colorhover1:cyan;
