// colores de fondo
$cfblanchedalmond: blanchedalmond;
$cfcadetblue: cadetblue;
$cfaquamarine: aquamarine;
$cfgoldenrod: goldenrod;
$cfteal: teal;
$cfaqua: aqua;
$cfdarkcyan: darkcyan;
$cfdarkseagreen: darkseagreen;
$cfpalevioletred: palevioletred;
$cfrgbr : rgb(174, 101, 101);
$cfrgbg: rgb(22, 88, 108);

// color
$clightsalmon:lightsalmon;
$csienna:sienna;
$corange:orange;
$carkred:darkred;
$cdarkslateblue5:darkslateblue;
$cdarkred:darkred;
$caqua:aqua;
$caliceblue:aliceblue;
$color9rgb:rgb(168, 134, 141);


// color text shawdow
$csorange:orange;
$csaqua:aqua;
$csblack:black;

// color border
$cbaquamarine:aquamarine;
$cborangered:orangered;
$cbaqua:aqua;
$cbwheat:wheat;
$cbrgb1:rgb(232, 185, 99);
$cbrbg2:rgb(110, 101, 19);
$cborang:orange;


// color hover
$chgoldenrod:goldenrod;
$chaquamarine:aquamarine;
$chrgb1:rgb(186, 62, 17);
$chdarkkhaki:darkkhaki;
$chcyan:cyan;
