*{
    margin: 0;
    padding: 0;
    font-family: 'Aref Ruqaa Ink', serif;
    box-sizing: border-box;
}

.banner-image{
    background-image: url(img/pexels-suzukii-xingfu-872831v\ 2.jpg);
    background-size: cover;
    background-position: center;
}

.i-1{
    color:lightsalmon;
}

.navbar-brand{
    color: lightsalmon;
    text-shadow: 0 0 10px orange;
}
.nav-link{
    color: lightsalmon;
    text-shadow: 0 0 10px orange;
    float: right;
}